openapi: 3.0.1
info:
  title: RickAndMortyAPI
  description: rickandmortyapi.com
  version: 1.0.0
servers:
- url: https://rickandmortyapi.com/api/
tags:
  - name: RickAndMorty
    description: RickAndMorty api
paths:
  /character/:
    get:
      tags:
        - character
      summary: Character list
      operationId: charactersGet
      parameters:
      - name: page
        in: query
        description: The page number of objects to return. Defaults to 0.
        required: false
        schema:
          type: integer
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterList'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  schemas:
    ErrorModel:
      type: object
      required:
      - message
      - code
      properties:
        message:
          type: string
        code:
          type: integer
          minimum: 100
          maximum: 600
    CharacterList:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/Info'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Character'
    Info:
      type: object
      properties:
        count:
          type: integer
        pages:
          type: integer
        next:
          type: string
        prev:
          type: string
    Character:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        species:
          type: string
        type:
          type: string
        gender:
          type: string
        origin:
          $ref: '#/components/schemas/Place'
        location:
          $ref: '#/components/schemas/Place'
        image:
          type: string
        episode:
          type: array
          items:
            type: string
        url:
          type: string
        created:
          type: string
    Place:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
